.product-popup {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.product-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #a6a6a6;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.product-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.product-popup-title img {
    width: 16px;
    cursor: pointer;
}

.login-popup-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input {
    outline: none;
    border: 1px solid #a6a6a6;
    padding: 10px;
    border-radius: 4px;
}

.product-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #B83E26;
    font-size: 15px;
    cursor: pointer;
}

.product-popup-container .addProduct{
    width: 150px;
    position: relative;
    cursor: pointer;
    border-radius:10%;
    color:white;
    align-self: center;
}

.product-popup-container hr{
    margin-right: 20px;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -10px;
}

.login-popup-condition input{
margin-top: 2px;
}

.product-popup p span{
    color:#B83E26;
    font-weight: 500;
    cursor: pointer;
}

.food-item-image-product{
    width: 300px;
    border-radius: 15px;
    padding: 10px;
    margin-right: 20px;
}

.food-desc{
    color:#a6a6a6;
    font-size: 14px;
    padding: 10px 10px 0px 10px;
    margin-right: 20px;
}

.product-item-counter{
    position: sticky;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    padding: 3px;
    border-radius:50px;
    background-color:white;
    align-self: center;
    margin-right: 20px;
}


@media (max-width: 750px){
    .product-popup-container {
        width: max(20vw, 280px);
        gap:5px;
        margin-right: 20px;
    }
    .food-item-image-product{
        width: 200px;
        border-radius: 10px;
        padding: 5px;
        margin-right: 20px;
    }
}
