.food-display{
    margin-top: 50px;
}

.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}

.food-display-list{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1.9fr));
    margin-top: 30px;
    gap: 10px;
    row-gap: 25px;
}

@media (max-width: 750px){
    .food-display h2{
        font-size: max(1.3vw,16px);
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .food-display-list{
        display:grid;
        grid-template-columns: repeat(auto-fill,minmax(120px,1.2fr));
        margin-top: 15px;
        margin-right: 28px;
        gap: 8px;
        row-gap: 15px;
    }
}