.header {
    height: 27.1vw;
    margin: 20px auto;
    position: relative;
    z-index: -1;
    border-radius: 15px;
    overflow: hidden;
}

.hero-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.hero-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

/* Dots container */
.dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

/* Each dot */
.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Active dot */
.dot.active {
    background-color: white;
    width: 14px;
    height: 14px;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 15%;
    left: 3%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1vw;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header-contents h2{
    font-weight: 300;
    color: #B84E4E;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: max(2.5vw, 20px);
}

.header-contents p{
    color: white;
    background-color: rgba(84, 84, 84, 0.6);
    font-size: 1vw;
    padding: 3px;
}

.header-contents button{
    border:none;
    color: #B83E26;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 20px;
}

@media (max-width: 1050px){
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width: 750px){
    .header {
        height: 55.1vw;
        margin: 10px auto;
        border-radius: 8px;
    }
    .header-contents{
        max-width: 65%;
    }
    .header-contents h2{
        font-weight: 200;
        font-size: max(2.5vw, 12px);
    }
    .header-contents p{
        font-size: 1.8vw;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
    .dot {
    width: 8px;
    height: 8px;
    }
    .dot.active {
    width: 10px;
    height: 10px;
    }
}